@charset "UTF-8";

.header{
display: flex;
background-color: gray;

}
.title{
display: inline-block;
padding: 10px;
color: white;
 }
.java{
display: inline-block;
padding: 10px;
margin-top: 5px;
font-size: 10px;
}


a{
display: inline-block;
padding: 10px;
color: white;
}
footer{
	background-color: gray;
}

.form{
	padding-top: 50px;
	padding-bottom: 50px;
}